RewriteEngine On

RewriteRule ^/$ index.php [L]
RewriteRule ^/$ index.html [L]
RewriteRule ^design/$ design.php [L]
RewriteRule ^photography/$ photography.php [L]
RewriteRule ^socialmedia/$ socialmedia.php [L]
RewriteRule ^videos/$ videos.php [L]
RewriteRule ^website/$ website.php [L]